.header {
	position: fixed;
	padding: 33px 0 32px;
	top: 0;
	right: 0;
	left: 0;
	height: 100px;
	background-color: var(--header-bgc);
	z-index: 1;
	overflow: hidden;
	transition: height .5s, background-color .3s;

	@media (max-width: 991px) {
		height: 67px;
		padding: 16px 0;
	}

	&__wrap {
		@include container;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 991px) {
			flex-wrap: wrap;
			gap: var(--gap);
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		max-width: 247px;
		width: 100%;
		height: 35px;

		@media (max-width: 450px) {
			max-width: 167px;
		}
	}

	&__nav {
		@media (max-width: 991px) {
			@include trs;
			display: flex;
			justify-content: flex-end;
			width: 100%;
			pointer-events: none;
		}
	}

	&__burger {
		@include no-btn;
		display: none;

		@media (max-width: 991px) {
			display: block;
		}
	}

	&--active {
		background-color: hsl(240, 28%, 9%);
		height: 100dvh;
	}
}

.header-logo {
	@include hover;
	outline: none;

	@media (max-width: 991px) {

		&:hover,
		&:focus-visible,
		&:active {
			transform: scale(1);
		}
	}
}

.header-nav {
	&__list {
		display: flex;
		gap: calc(var(--gap) * 2);

		@media (max-width: 991px) {
			flex-direction: column;
			gap: 15px;
			text-align: end;
		}
	}
}

.header-nav--active {
	pointer-events: all;

	.header-nav-list {
		&__item {
			opacity: 1;

			&:nth-of-type(1) {
				transform: translateX(0);
			}

			&:nth-of-type(2) {
				transform: translateX(0);
			}

			&:nth-of-type(3) {
				transform: translateX(0);
			}

			&:nth-of-type(4) {
				transform: translateX(0);
			}
		}
	}
}

.header-nav-list {
	&__item {
		@media (max-width: 991px) {
			opacity: 0;
			transform: translateX(300%);

			&:nth-of-type(1) {
				transition: opacity ease-out .6s, transform .2s;
			}

			&:nth-of-type(2) {
				transition: opacity ease-out .7s, transform .3s;
			}

			&:nth-of-type(3) {
				transition: opacity ease-out .8s, transform .4s;
			}

			&:nth-of-type(4) {
				transition: opacity ease-out .9s, transform .5s;
			}
		}
	}
}

.header-nav-list-item {
	&:first-of-type {
		color: var(--hover-blue);
	}
}

.header-nav-list-item-link {
	@include trs;
	text-transform: uppercase;
	outline: none;

	&:hover,
	&:focus-visible,
	&:active {
		color: var(--hover-blue);

		@media (max-width: 991px) {

			&:hover,
			&:focus-visible,
			&:active {
				color: inherit;
			}
		}
	}
}

.header-burger {
	&__line {
		display: block;
		width: 35px;
		height: 1px;
	}
}

.header-burger-line {
	@include trs(.2);
	background-color: var(--white);

	&--1 {
		margin-bottom: 6px;
	}
}

.header-burger--active {
	.header-burger-line {
		background-color: var(--hover-blue);

		&--1 {
			margin-bottom: 0;
			transform: rotate(45deg);
		}

		&--2 {
			transform: rotate(-45deg);
		}
	}
}