<footer class="footer">
    <div class="footer__wrap footer-wrap">
        <span class="footer__copyright footer-copyright">© 2018 «LOREMIPSUM.NET» Все права защищены.</span>
        <div class="footer__separator footer-separator footer-separator--first"></div>
        <div class="footer__paysys footer-paysys">
            <ul class="footer-paysys__list footer-paysys-list">
                <li class="footer-paysys-list__item footer-paysys-list-item">
                    @@include('../../bem-blocks/_sprite/_sprite.html',{
                        "class": "footer__icon footer-icon",
                        "id": "qiwi"
                    })
                    Qiwi wallet
                </li>
                <li class="footer-paysys-list__item footer-paysys-list-item">
                    @@include('../../bem-blocks/_sprite/_sprite.html',{
                        "class": "footer__icon footer-icon",
                        "id": "yandex"
                    })
                    Yandex Money
                </li>
                <li class="footer-paysys-list__item footer-paysys-list-item">
                    @@include('../../bem-blocks/_sprite/_sprite.html',{
                        "class": "footer__icon footer-icon",
                        "id": "webmoney"
                    })
                    Web Money
                </li>
            </ul>
        </div>
        <div class="footer__separator footer-separator footer-separator--second"></div>
        <div class="footer__contacts footer-contacts">
            <ul class="footer-contacts__list footer-contacts-list">
                <li class="footer-contacts-list__item footer-contacts-list-item">
                    <a href="mailto:info@ipsum228.com" class="footer-contacts-list-item__link footer-contacts-list-item-link">
                        @@include('../../bem-blocks/_sprite/_sprite.html',{
                            "class": "footer__icon footer-icon",
                            "id": "email"
                        })
                        info@ipsum228.com
                    </a>
                </li>
                <li class="footer-contacts-list__item footer-contacts-list-item">
                    <a href="#" class="footer-contacts-list-item__link footer-contacts-list-item-link">
                        @@include('../../bem-blocks/_sprite/_sprite.html',{
                            "class": "footer__icon footer-icon",
                            "id": "vk"
                        })
                        Мы вконтакте
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
