<footer class="footer">
    <div class="footer__wrap footer-wrap">
        <span class="footer__copyright footer-copyright">© 2018 «LOREMIPSUM.NET» Все права защищены.</span>
        <div class="footer__separator footer-separator footer-separator--first"></div>
        <div class="footer__paysys footer-paysys">
            <ul class="footer-paysys__list footer-paysys-list">
                <li class="footer-paysys-list__item footer-paysys-list-item">
                    @@include('../../bem-blocks/_sprite/_sprite.html',{
                        "class": "footer-paysys-list-item__icon footer-paysys-list-item-icon",
                        "id": "qiwi"
                    })
                    <span class="footer-paysys-list-item__text footer-paysys-list-item-text">
                        Qiwi wallet
                    </span>
                </li>
                <li class="footer-paysys-list__item footer-paysys-list-item">
                    @@include('../../bem-blocks/_sprite/_sprite.html',{
                        "class": "footer-paysys-list-item__icon footer-paysys-list-item-icon",
                        "id": "yandex"
                    })
                    <span class="footer-paysys-list-item__text footer-paysys-list-item-text">
                        Yandex Money
                    </span>
                </li>
                <li class="footer-paysys-list__item footer-paysys-list-item">
                    @@include('../../bem-blocks/_sprite/_sprite.html',{
                        "class": "footer-paysys-list-item__icon footer-paysys-list-item-icon",
                        "id": "webmoney"
                    })
                    <span class="footer-paysys-list-item__text footer-paysys-list-item-text">
                        Web Money
                    </span>
                </li>
            </ul>
        </div>
        <div class="footer__separator footer-separator footer-separator--second"></div>
        <div class="footer__contacts footer-contacts">
            <ul class="footer-contacts__list footer-contacts-list">
                <li class="footer-contacts-list__item footer-contacts-list-item">
                    <a href="mailto:info@ipsum228.com" class="footer-contacts-list-item__link footer-contacts-list-item-link">
                        @@include('../../bem-blocks/_sprite/_sprite.html',{
                            "class": "footer-contacts-list-item-link__icon footer-contacts-list-item-link-icon",
                            "id": "email"
                        })
                        <span class="footer-contacts-list-item-link__text footer-contacts-list-item-link-text">
                            info@ipsum228.com
                        </span>
                    </a>
                </li>
                <li class="footer-contacts-list__item footer-contacts-list-item">
                    <a href="#" class="footer-contacts-list-item__link footer-contacts-list-item-link">
                        @@include('../../bem-blocks/_sprite/_sprite.html',{
                            "class": "footer-contacts-list-item-link__icon footer-contacts-list-item-link-icon",
                            "id": "vk"
                        })
                        <span class="footer-contacts-list-item-link__text footer-contacts-list-item-link-text">
                            Мы вконтакте
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
