*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 400;
}

:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--header-bgc: hsla(240, 28%, 9%, 0.9);
	--body-bgc: hsl(240, 13%, 17%);
	--footer-bgc: hsl(230, 13%, 27%);
	--footer-gray: hsl(0,0%,77%);
	--component-blue: hsl(204, 69%, 55%);
	--component-border: hsl(204, 56%, 37%);
	--hover-blue: hsl(203, 85%, 61%);
	--input-bg: hsla(0,0%,101%,0.85);
	--font-size: 13px;
	--gap: 30px;
}

html,
body {
	height: 100%;
	position: relative;
}

body {
	font-size: var(--font-size);
	line-height: calc(var(--font-size) + 3px);
	color: var(--white);
	background: var(--body-bgc);
	-webkit-tap-highlight-color: transparent;
}

.body--active {
	overflow: hidden;
}

img {
	width: 100%;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.text-color {
	color: var(--component-blue);
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}