@import 'base/*.scss';
@import 'global/*.scss';
@import '../components/**/**/*.scss';

// hero
.hero {
    @include bg(cover);
    padding: 200px 0 215px;
    background-image: url(../img/bg.webp);

    &__content {
        @include container;
        display: flex;
        flex-direction: column;
        gap: 80px;

        @media (max-width: 991px) {
            gap: calc(var(--gap) * 2)
        }

        @media (max-width: 767px) {
            gap: calc(var(--gap) * 1.5)
        }

        @media (max-width: 575px) {
            gap: var(--gap);
        }

        @media (max-width: 575px) {
            gap: 20px
        }
    }

    @media (max-width: 991px) {
        padding: 150px 0;
    }

    @media (max-width: 767px) {
        padding: 130px 0 100px;
    }

    @media (max-width: 575px) {
        padding: 110px 0 80px;
    }
}

.hero-content {
    &__title {
        max-width: 780px;
        color: var(--black);
    }

    &__bottom {
        display: flex;
        gap: var(--gap);

        @media (max-width: 420px) {
            flex-direction: column;
            gap: calc(var(--gap) / 2)
        }
    }
}

.hero-content-descr {
    color: var(--black);

    &__title {
        margin-bottom: 10px;
    }
}

.hero-content-descr-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    @media (max-width: 575px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.hero-content-descr-list {
    &__item {
        position: relative;
    }
}

.hero-content-descr-list-item {
    padding-left: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    &:not(:last-of-type) {
        margin-bottom: 5px;
    }

    &::before {
        position: absolute;
        content: "";
        left: 10px;
        top: 50%;
        width: 5px;
        height: 2px;
        background-color: var(--black);
    }

    @media (max-width: 575px) {
        font-size: 16px;
        line-height: 20px;
    }
}

// order
.order {
    @include bg(cover);
    padding: 120px 0 150px;
    background-image: url(../img/bg2.webp);

    &__content {
        @include container;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: var(--gap);

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__text {
        text-align: center;
        margin-bottom: 80px;

        @media (max-width: 767px) {
            margin-bottom: calc(var(--gap) * 2)
        }

        @media (max-width: 575px) {
            margin-bottom: 40px;
        }
    }

    &__preview {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        padding: 0 15px;

        @media (max-width: 1200px) {
            padding: 0;
        }

        @media (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: calc(var(--gap) * 2);
            column-gap: var(--gap);
        }

        @media (max-width: 767px) {
            row-gap: 40px;
        }

        @media (max-width: 575px) {
            align-items: flex-start;
            column-gap: calc(var(--gap) / 3);
            row-gap: 15px;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 991px) {
        padding: 100px 0;
    }

    @media (max-width: 767px) {
        padding: 80px 0 100px;
    }

    @media (max-width: 450px) {
        padding: 60px 0 80px;
    }
}

.order-text {
    color: hsl(0, 0%, 73%);
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: 575px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.order-preview-dots {
    &--first {
        left: 14.7%;

        @media (max-width: 1200px) {
            left: 13.4%;
        }

        @media (max-width: 991px) {
            left: 30.6%;
        }

        @media (max-width: 767px) {
            left: 24%;
        }
    }

    &--second {
        left: 35%;

        @media (max-width: 1200px) {
            left: 34.6%;
        }

        @media (max-width: 991px) {
            left: 57%;
        }

        @media (max-width: 767px) {
            left: 59.2%;
        }
    }

    &--third {
        left: 55.5%;

        @media (max-width: 1400px) {
            left: 55.3%;
        }

        @media (max-width: 1200px) {
            left: 55.8%;
        }

        @media (max-width: 991px) {
            transform: rotate(-60deg);
            top: 165px;
            left: 65%;
        }

        @media (max-width: 767px) {
            top: 152px;
            left: 68%;
        }
    }

    &--fourth {
        left: 76%;

        @media (max-width: 1400px) {
            left: 75.5%;
        }

        @media (max-width: 1200px) {
            left: 77.2%;
        }

        @media (max-width: 991px) {
            top: 242px;
            left: 44%;
        }

        @media (max-width: 767px) {
            top: 212px;
            left: 41.8%;
        }
    }
}

.order-form {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--gap);
        column-gap: var(--gap);
        margin-bottom: 45px;

        @media (max-width: 1400px) {
            column-gap: calc(var(--gap) / 2);
        }

        @media (max-width: 767px) {
            row-gap: calc(var(--gap) / 2);
            column-gap: calc(var(--gap) / 3);
        }

        @media (max-width: 575px) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }

    &__range {
        width: calc((100% - 15px) / 3 * 2);

        @media (max-width: 1400px) {
            gap: 15px;
            width: calc((100% - 8px) / 3 * 2);
        }

        @media (max-width: 767px) {
            width: 100%;
            order: 4;
        }

        @media (max-width: 575px) {
            max-width: 80%;
        }

        @media (max-width: 420px) {
            max-width: 90%;
        }
    }
}

.order-form-range {
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        @media (max-width: 420px) {
            margin-bottom: 0;
        }
    }
}

.order-form-range-text {
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 991px) {
        font-size: 14px;
        line-height: 18px;
    }

    @media (max-width: 420px) {
        font-size: 12px;
        line-height: 16px;
    }
}