.btn {
    @include no-btn;
    @include hover(1.03, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 183px;
    width: 100%;
    height: 43px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: var(--component-blue);
    border: 1px solid var(--white);
    border-radius: 4px;
    outline: none;

    &--white {
        color: hsl(229, 6%, 17%);
        background-color: var(--white);
        border: 1px solid hsl(248, 6%, 45%);
    }

    &--hero {
        @media (max-width: 420px) {
            max-width: 100%;
        }
    }

    &--form {
        max-width: 370px;
        height: 48px;
        margin: 0 auto;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;

        @media (max-width: 1200px) {
            max-width: 310px;
        }

        @media (max-width: 991px) {
            max-width: 230px;
            font-size: 14px;
            line-height: 17px;
        }
    }
}